.form {
  padding: 3rem;
  border-radius: 40px;
  background: #B40D16;
  overflow: hidden;
  margin-bottom: 80px;
  // .form_container

  @media (max-width: 767.98px) {
    padding: 2rem;
  }

  @media (max-width: 574.98px) {
    padding: 1rem;
    margin-bottom: 56px;
    border-radius: 1rem;
  }

  &_container {

    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;

    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: start;
    }

    &::before {
      position: absolute;
      top: -4.5rem;
      left: -3.5rem;
      content: '';
      pointer-events: none;
      z-index: 1;
      background-size: cover;
      background: url(../img/form_1.svg) center no-repeat;
      width: 300px;
      height: 300px;

      @media (max-width: 574.98px) {
        width: 143px;
        height: 143px;

      }
    }

    &::after {
      position: absolute;
      top: 1rem;
      left: 15rem;
      content: '';
      pointer-events: none;
      z-index: 1;
      background-size: cover;
      background: url(../img/form_2.svg) center no-repeat;
      width: 307px;
      height: 307px;

      @media (max-width: 767.98px) {
        top: 10rem;
      }

      @media (max-width: 574.98px) {
        top: 0;
      }
    }
  }

  // .form_title

  &_title {
    max-width: 454px;
    position: relative;

    &::before {
      position: absolute;
      top: -7rem;
      left: 25rem;
      content: '';
      pointer-events: none;
      z-index: 1;
      background-size: cover;
      background: url(../img/form_3.svg) center no-repeat;
      width: 196px;
      height: 196px;

      @media (max-width: 767.98px) {
        left: 20rem;
      }
    }

    &::after {
      position: absolute;
      top: 9rem;
      left: 42rem;
      content: '';
      background-size: cover;
      pointer-events: none;
      z-index: 1;
      background: url(../img/form_4.svg) center no-repeat;
      width: 122px;
      height: 122px;
    }

    h1 {
      color: #FFF;
      font-size: 72px;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
      margin: 0px 0px 8px 0px;
      position: relative;

      @media (max-width: 574.98px) {
        font-size: 48px;
      }

      &::after {
        position: absolute;
        top: 9rem;
        left: 60rem;
        content: '';
        background-size: cover;
        pointer-events: none;
        z-index: 1;
        background: url(../img/form_4.svg) center no-repeat;
        width: 122px;
        height: 122px;
      }
    }

    p {
      color: #FFF;
      font-size: 32px;
      font-weight: 600;
      line-height: 120%;
      text-transform: uppercase;

      @media (max-width: 574.98px) {
        font-size: 18px;
      }
    }
  }

  &_action {
    max-width: 398px;
    display: flex;
    flex-direction: column;

    @media (max-width: 767.98px) {
      margin: 40px 0px 0px 0px;
      width: 100%;
      max-width: 100%;
    }

    input {
      display: flex;
      height: 48px;
      padding: 1rem 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      font-size: 1rem;
      font-weight: 500;
      line-height: 120%;
      border-radius: 6px;
      border: none;
      outline: none;
      transition: .3s ease all;
      cursor: pointer;
      width: 398px;

      @media (max-width: 992px) {
        width: 280px;
      }

      @media (max-width: 767.98px) {
        width: 100%;
      }

      &:not(:last-child) {
        background: inherit;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.60);
        margin: 0px 0px 1rem 0px;
      }

      &:last-child {
        background: #FFF;
        margin: 24px 0px 0px 0px;
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.80);

        &:not(:last-child) {
          color: #3B3B3B;
        }
      }

      &:hover {
        &:not(:last-child) {
          border: 1px solid rgba(255, 255, 255, 0.30);
        }
      }

      &:active {
        &:not(:last-child) {
          border: 1px solid #FFF;
        }
      }

      &:disabled {
        &:not(:last-child) {
          border: 1px solid rgba(255, 255, 255, 0.30);
        }

        &::placeholder {
          color: rgba(255, 255, 255, 0.30);
        }
      }

      &:last-child {

        &:hover {
          color: #FFF;
          background: rgba(255, 255, 255, 0.40);
        }
      }
    }
  }
}