body.lock {
    overflow: hidden;
    padding: 0 !important;
}

.popup {
    position: fixed;
    top: 0;
    background: rgba(22, 22, 22, 0.80);
    backdrop-filter: blur(3px);
    left: 0;
    width: 100%;
    z-index: 111;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s ease;
}

.popup.open .popup__content {
    opacity: 1;
    transform: translate(0px, 0%);
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 10px;
    position: relative;
    justify-content: center;
    transition: all .3s ease;
}

.popup__content {
    color: #fff;
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s ease;
    position: relative;
    transform: translate(0px, -100%);

    @media (max-width: 574.98px) {
        padding: 2rem 1rem;
    }
}

.popup__close {
    position: absolute;
    right: .5rem;
    top: 5.5rem;
    z-index: 11111;
    text-decoration: none;
}