.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11111;
    opacity: 1;
    visibility: visible;
    background: blue;
    transition: all 1s;
    &._visible{
        opacity: 0;
        visibility: hidden;
    }
    &__load {
        border: 10px solid transparent;
        border-top: solid 10px white;
        border-bottom: solid 10px white;
        width: 150px;
        height: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        animation: 1.5s preloader linear infinite;
        @keyframes preloader {
            0%{
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100%{
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }
    
}
